default install
label install
        kernel linux
        append initrd=initrd.gz auto-install/enable=true debconf/priority=critical preseed/url=tftp://{{ ansible_host }}/preseed/default.seed
prompt 0
timeout 0
